<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.wq.shop.example.dao.bean.Stock" alias="Stock"/>
        <typeAlias type="com.wq.shop.example.dao.bean.StockOrder" alias="StockOrder"/>
        <typeAlias type="com.wq.shop.example.dao.bean.User" alias="User"/>
        <typeAlias type="com.wq.shop.example.dao.bean.OrderUser" alias="OrderUser"/>
    </typeAliases>

</configuration>